Repository anhussain90/secure-k8s-flask-poc, changes with the owners that CODEOWNERS names for each.
All owners: @secure-k8s-maintainers, @app-developers, @platform-team, @security-team

CODEOWNERS:

# Global ownership
* @secure-k8s-maintainers

<!-- # Application code
/app/ @secure-k8s-maintainers @app-developers

# Kubernetes manifests
/k8s/ @secure-k8s-maintainers @platform-team

# Infrastructure
/infra/ @secure-k8s-maintainers @platform-team

# Security policies
/k8s/policies/ @security-team @platform-team

# CI/CD workflows
/.github/ @secure-k8s-maintainers @platform-team

# Documentation
/docs/ @secure-k8s-maintainers

# Scripts
/scripts/ @secure-k8s-maintainers @platform-team -->

Updated README
  README.md
Owners: @secure-k8s-maintainers

Create pull_request_template.md
  .github/pull_request_template.md
Owners: @secure-k8s-maintainers, @platform-team

Added github workflows
  .github/workflows/security-scan.yaml
Owners: @secure-k8s-maintainers, @platform-team

Added more misc files
  app/Dockerfile
  app/app.py
  app/requirements.txt
  scripts/verify-security.sh
Owners: @secure-k8s-maintainers, @app-developers

Create .editorconfig
  .editorconfig
Owners: @secure-k8s-maintainers

Create .gitignore
  .gitignore
Owners: @secure-k8s-maintainers

Create .gitleaks.toml
  .gitleaks.toml
Owners: @secure-k8s-maintainers

Create .prettierignore
  .prettierignore
Owners: @secure-k8s-maintainers

Create .yamllint.yaml
  .yamllint.yaml
Owners: @secure-k8s-maintainers

Update security-scan.yaml
  .github/workflows/security-scan.yaml
Owners: @secure-k8s-maintainers, @platform-team

Added k8s folder
  k8s/app/deployment.yaml
  k8s/policies/require-signed-images.yaml
Owners: @secure-k8s-maintainers, @platform-team, @security-team

Added git hooks
  README.md
  git-hooks/post-commit
  git-hooks/pre-commit
  scripts/setup-git-hooks.sh
Owners: @secure-k8s-maintainers

Create .gitkeep
  audit/.gitkeep
Owners: @secure-k8s-maintainers

Added terraform code
  infra/terraform/environments/bootstrap/main.tf
  infra/terraform/environments/bootstrap/outputs.tf
  infra/terraform/environments/bootstrap/provider.tf
  infra/terraform/environments/bootstrap/terraform.tfstate
  infra/terraform/environments/bootstrap/variables.tf
  infra/terraform/environments/poc/backend.tf
  infra/terraform/environments/poc/main.tf
  infra/terraform/environments/poc/outputs.tf
  infra/terraform/environments/poc/provider.tf
  infra/terraform/environments/poc/variables.tf
  infra/terraform/modules/ecr/main.tf
  infra/terraform/modules/ecr/outputs.tf
  infra/terraform/modules/ecr/variables.tf
  infra/terraform/modules/github/main.tf
  infra/terraform/modules/github/outputs.tf
  infra/terraform/modules/github/variables.tf
  infra/terraform/modules/remote-state/main.tf
  infra/terraform/modules/remote-state/outputs.tf
  infra/terraform/modules/remote-state/variables.tf
  terraform.yaml
Owners: @secure-k8s-maintainers, @platform-team

Rename terraform.yaml to .github/workflows/terraform.yaml
  .github/workflows/terraform.yaml
Owners: @secure-k8s-maintainers, @platform-team

Update main.tf
  infra/terraform/environments/poc/main.tf
Owners: @secure-k8s-maintainers, @platform-team

Update main.tf
  infra/terraform/modules/remote-state/main.tf
Owners: @secure-k8s-maintainers, @platform-team

Update main.tf
  infra/terraform/modules/github/main.tf
Owners: @secure-k8s-maintainers, @platform-team

Update main.tf
  infra/terraform/modules/github/main.tf
Owners: @secure-k8s-maintainers, @platform-team

Updated infra
  infra/terraform/environments/poc/main.tf
  infra/terraform/modules/github/main.tf
  infra/terraform/modules/remote-state/main.tf
Owners: @secure-k8s-maintainers, @platform-team

Updated TF IAM Role
  infra/terraform/modules/github/main.tf
Owners: @secure-k8s-maintainers, @platform-team

Updated
  main.tf
Owners: @secure-k8s-maintainers

Delete main.tf
  main.tf
Owners: @secure-k8s-maintainers

Update main.tf
  infra/terraform/modules/github/main.tf
Owners: @secure-k8s-maintainers, @platform-team

Update main.tf
  infra/terraform/modules/github/main.tf
Owners: @secure-k8s-maintainers, @platform-team

Create build-sign-deploy.yaml
  .github/workflows/build-sign-deploy.yaml
Owners: @secure-k8s-maintainers, @platform-team

Update build-sign-deploy.yaml
  .github/workflows/build-sign-deploy.yaml
Owners: @secure-k8s-maintainers, @platform-team

Update build-sign-deploy.yaml
  .github/workflows/build-sign-deploy.yaml
Owners: @secure-k8s-maintainers, @platform-team

Update build-sign-deploy.yaml
  .github/workflows/build-sign-deploy.yaml
Owners: @secure-k8s-maintainers, @platform-team

Update build-sign-deploy.yaml
  .github/workflows/build-sign-deploy.yaml
Owners: @secure-k8s-maintainers, @platform-team

Update build-sign-deploy.yaml
  .github/workflows/build-sign-deploy.yaml
Owners: @secure-k8s-maintainers, @platform-team

Update build-sign-deploy.yaml
  .github/workflows/build-sign-deploy.yaml
Owners: @secure-k8s-maintainers, @platform-team

Updated APP
  k8s/app/deployment.yaml
Owners: @secure-k8s-maintainers, @platform-team

Delete infra/terraform/environments/bootstrap/terraform.tfstate
  infra/terraform/environments/bootstrap/terraform.tfstate
Owners: @secure-k8s-maintainers, @platform-team

chore: updated tf modules
  infra/terraform/environments/poc/data.tf
  infra/terraform/environments/poc/main.tf
  infra/terraform/environments/poc/outputs.tf
  infra/terraform/environments/poc/variables.tf
  infra/terraform/modules/alb/main.tf
  infra/terraform/modules/alb/outputs.tf
  infra/terraform/modules/alb/variables.tf
  infra/terraform/modules/ecs/main.tf
  infra/terraform/modules/ecs/outputs.tf
  infra/terraform/modules/ecs/variables.tf
  infra/terraform/modules/github/main.tf
Owners: @secure-k8s-maintainers, @platform-team

chore: fmt terraform mods
  infra/terraform/environments/poc/main.tf
  infra/terraform/modules/ecs/main.tf
Owners: @secure-k8s-maintainers, @platform-team

Update main.tf
  infra/terraform/modules/github/main.tf
Owners: @secure-k8s-maintainers, @platform-team

Update main.tf
  infra/terraform/modules/github/main.tf
Owners: @secure-k8s-maintainers, @platform-team

Update main.tf
  infra/terraform/modules/github/main.tf
Owners: @secure-k8s-maintainers, @platform-team

Chore: updated app
  app/Dockerfile
  app/app.py
Owners: @secure-k8s-maintainers, @app-developers
