Repository anhussain90/secure-k8s-flask-poc, changes with the owners that CODEOWNERS names for each.
All owners: @secure-k8s-maintainers, @app-developers, @platform-team, @security-team

CODEOWNERS:

# Global ownership
* @secure-k8s-maintainers

<!-- # Application code
/app/ @secure-k8s-maintainers @app-developers

# Kubernetes manifests
/k8s/ @secure-k8s-maintainers @platform-team

# Infrastructure
/infra/ @secure-k8s-maintainers @platform-team

# Security policies
/k8s/policies/ @security-team @platform-team

# CI/CD workflows
/.github/ @secure-k8s-maintainers @platform-team

# Documentation
/docs/ @secure-k8s-maintainers

# Scripts
/scripts/ @secure-k8s-maintainers @platform-team -->

Update build-sign-deploy.yaml
  .github/workflows/build-sign-deploy.yaml
Owners: @secure-k8s-maintainers, @platform-team

Update build-sign-deploy.yaml
  .github/workflows/build-sign-deploy.yaml
Owners: @secure-k8s-maintainers, @platform-team

Update build-sign-deploy.yaml
  .github/workflows/build-sign-deploy.yaml
Owners: @secure-k8s-maintainers, @platform-team

Chore: update build-sign-deploy.yaml
  .github/workflows/build-sign-deploy.yaml
Owners: @secure-k8s-maintainers, @platform-team

Chore: update build-sign-deploy.yaml
  .github/workflows/build-sign-deploy.yaml
Owners: @secure-k8s-maintainers, @platform-team

feat: added new ping endpoint
  app/app.py
Owners: @secure-k8s-maintainers, @app-developers

Update .gitignore
  .gitignore
Owners: @secure-k8s-maintainers

Updated TF backend
  infra/terraform/environments/bootstrap/backend.tf
  infra/terraform/modules/github/main.tf
  infra/terraform/modules/github/outputs.tf
Owners: @secure-k8s-maintainers, @platform-team
